outputs

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environments
.venv/
venv/
ENV/

# Project specific
experiment_record.json
outputs/

*.tif
*.tiff
*.gpkg
*.shp
*.dbf
*.shx
*.prj
*.zip

# IDEs
.vscode/
.idea/
.project
.pydevproject

# OS
.DS_Store
Thumbs.db
